body {
  margin: 0;
  height: 100vh;
  display: flex;
}

.left-container {
  background-color: rgb(30, 48, 127);
  background-image: url(../images/timothee-duran-ilfsT5p_qvA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0,1));
}

#welcome-text {
  color: white;
  font-size: 8vw;
}

.photo-credit-container {
  display: flex;
  justify-content: center;
}

.photo-credit {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.photo-credit a {
  text-decoration: none;
  color: rgb(153, 153, 153);
}

.photo-credit a:hover {
  color:rgb(106, 106, 106)
}

.right-container {
  width: 55vw;
  background: linear-gradient(to top, rgb(40, 40, 40), rgb(0, 0, 0));
  font-family: Arial, Helvetica, sans-serif;

}

.header-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: flex-end;
  color: white;
  padding-left: 2%;
}

.header-container h3 {
  font-size: 3vw;
}

.header-container h4 {
  margin: 0;
  font-size: 2vw;
}

.form-container {
  display: flex;
  margin-top: 100px;
}

ul {
  padding-left: 2%;
  margin: 0;
}

li {
  display: inline;
}

.form-input {
  color: white;
  margin-bottom: 10px;
  width: 40%;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: white 1px solid;
  background-color: rgb(40, 40, 40);
  transition: transform 0.2s, outline 0.2s;
}

.form-input:focus {
  outline: none;
  transform: scale(1.01);
}

.button-container {
  padding-left: 2%;
}

.submit-button {
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
}

.no-match {
  border: 1px solid red;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa-eye {
  color: white;
  cursor: pointer;
}
.fa-eye-slash {
  color: white;
  cursor: pointer;
}

.log-in-text {
  color: white;
  padding-left: 2%;
}

footer {
  position: fixed;
  bottom: 2%;
  width: 100%;
}

.log-in-text a {
  text-decoration: none;
  color: rgb(153, 153, 153);
}

.log-in-text a:hover {
  color:rgb(106, 106, 106);
}