body {
  margin: 0;
  height: 100vh;
  border: black dashed 2px;
  display: flex;
}

.left-container {
  border: red solid 2px;
  width: 35vw;
}

.right-container {
  width: 65vw;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  border: blue solid 2px;
  justify-content: flex-end;
}

.form-container {
  border: green solid 2px;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

.form-input {
  margin-bottom: 10px;
  width: 45%;
}

.button-container {
  border: pink solid 2px;
}